{% extends 'user/layout' %}

{% block title 'Edit ' ~ user.full_name|title %}

{% block content %}
    <div class="col-sm-12 col-md-10 col-lg-9 col-xl-8">
        <div class="card">
            <div class="card-header">Edit <strong>{{ user.full_name|title }}</strong></div>
            <div class="card-body">
                {% include 'user/form' %}
            </div>
        </div>
    </div>
{% endblock %}
