@import '~bootstrap/scss/mixins/breakpoints';

// Horizontal form
.cs-form-horizontal .col-form-label {
    font-weight: bold;
}

.cs-form-horizontal label.custom-file-label {
    font-weight: normal !important;
    text-align: left !important;
}

@include media-breakpoint-up(sm) {
    .cs-form-horizontal .col-form-label {
        text-align: right;
    }
}
