/* Show model table
 ------------------------------------------------------------------------------- */
.cs-tbl-show tr td:first-child {
    font-weight: bold;
    width: 6rem;
    white-space: nowrap;
}
