/* Listing Table
 ------------------------------------------------------------------------------- */
.cs-tbl-listing {
    margin-bottom: 0;
}

.cs-tbl-listing tr {
    vertical-align: middle;
}

.cs-tbl-listing tbody tr:hover {
    cursor: pointer;
}

/* Show model table
 ------------------------------------------------------------------------------- */
.cs-tbl-show tr td:first-child {
    font-weight: bold;
    width: 6rem;
}
